@tailwind base;
@tailwind components;
@tailwind utilities;

.bgImg {
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20230703/pngtree-e-commerce-convenience-easily-ordering-clothes-from-online-retailers-through-your-image_3762768.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #000000, #FABA01);  /* Black to Yellow gradient */
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right, #000000, #b30000);  /* Black to Dark Red gradient on hover */
}
@tailwind base;
@tailwind components;
@tailwind utilities;